@font-face {
    font-family: 'PTSansRegular';
    src: url('pts55f.eot');
    src: url('pts55f.eot') format('embedded-opentype'),
         url('pts55f.woff') format('woff'),
         url('pts55f.ttf') format('truetype'),
         url('pts55f.svg#PTSansRegular') format('svg');
}
